a.anchor {
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50vh;
}

.header img {
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    object-fit: cover;
	margin: 0;
}

/* スクリーントーンのカバー */
.header::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.3) radial-gradient(rgba(0,0,0,.3) 25%, transparent 0) center / 5px 5px;
}

.logo {
    position: absolute;
    z-index: 1;
}

.logo h1 {
    margin-top: 0px;
    margin-left: 10px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.logo p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #fff;
}

.nav {
    position: absolute;
    z-index: 1;
    right: 1em;
	top: 0.5em;
}

.nav ul li {
    margin-right: 25px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-list {
    height: 200px;
    overflow-y: scroll;
    margin: auto;
    padding: 0 1.5em;
    border: 1px solid #ccc;
    line-height: 1.3;
    color: #444;
    overflow: auto;
    width: 90%;
    height: 12em;
}

.news-list dl {
    border-bottom: 1px solid #ccc;
}

.news-list dt {
    padding-bottom: 0;
    width: 7em;
    float: left;
}

.news-list dd {
    margin-left: 0.5em;
}

.gallery {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works {
    width: 800px;
    margin: auto;
}

.work {
    width: 1000px;
    height: 600px;
    display: flex;
    /* border: 1px solid lightgray;
    border-radius: 10px; */
}

.picture-var img {
    width: 350px;
    height: 100%;
    /* position: relative;
    left: 150px; */
}

.picture-hor img {
    width: 450px;
    height: 60%;
    position: relative;
    top: 120px;
}

.title {
    font-weight: bold;
}

.main-text {
    /* width: 350px; */
    display: -webkit-box;
    line-clamp: 50;
    /* 互換性のために記載 */
    -webkit-line-clamp: 50;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-rec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book img {
    max-width: 240px;
    max-height: 240px;
    
}

@media screen and (max-width: 1200px) {

    .works {
        width: 80%;
        margin: auto;
    }

    .work-odd {
        flex-direction: column;
        text-align: left;
    }

    .work-even {
        flex-direction: column-reverse;
        text-align: left;
        margin-top: 525px;
    }

    .picture-hor img {
        width: 450px;
        height: 100px;
    }

    .text {
        width: 400px;
    }

    .main-text {
        /* width: 350px; */
        display: -webkit-box;
        line-clamp: 50;
        /* 互換性のために記載 */
        -webkit-line-clamp: 50;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}